<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="wrap">
    	<h1>Big Flower</h1>
    	<ul class="topmemu">
    		<li><a href="#">自我介紹</a></li>
    		<li><a href="#">經歷</a></li>
    	</ul>
    	<ul class="leftmemu">
    		<li><a href="#">關於我</a></li>
    		<li><a href="#">作品集</a></li>
    		<li><a href="#">聯絡我</a></li>
    		<li><a href="#">不知道</a></li>
    	</ul>
    	
    	<div class="content">
	    	<p>
	    		姓名：陳彥璋</br>
	    		英文名字：Yen Chang Chen</br>
	    		兵役狀況： 役畢 </br>
	    		退伍時間：2010年06月</br>
	    		婚姻狀況：未婚</br>
	    		生日：76/05/23</br>
	    		星座：雙子</br>
	    		血型：A</br>
	    		</p>
	    		<p>
	    		E-mail：leo05230@gmail.com </br>
	    		聯絡電話：0912826502  </br>
				聯絡方式：都可 </br>
				通訊地址：新北市土城區台北縣土城市中央路1段164號5F </br>
	    		工作經驗:103-08-04 ~ </br>
	    			<span style="padding-left: 40px;">鈊象電子 - 線上技術服務部(網頁活動組)</span>
	    	</p>
	    </div>
    </div>
  </body>
</html>
